*{
	box-sizing: border-box;
}

body {
	font-size: 1.3em;
	margin-left: 2em;
	margin-right: 2em;
	min-height: 100vh;
	background-image: linear-gradient(to bottom, #89e7f8dc, #6ecea1);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	color: rgb(34, 158, 96);
	font-style: italic;
	font-size: 3em;
	text-align: center;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}  

#top-content {
	display: flex;
	width: 100%;
	position: relative;
	min-height: 3em;
	height: 4em;
}

#top-content>span {
	position: absolute;
	right: 10%;
	order: 2;
	text-align: right;
}

.newNoteForm {
	position: absolute;
	left: 10%;
	order: 1;
}

.newNoteForm>input {
	padding: 0.5em;
	min-width: 30vw;
}

.newNoteForm>button {
	padding: 0.5em;
	margin-left: 1em;
}

.loginForm {
	background-color: rgba(224, 255, 192, 0.205);
	border-radius: 10%;
	padding: 2em;
	width: 350px;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.034), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
	animation: fadeIn 1.5s;
}

.loginForm>label {
	display: inline-block;
	width: 6em;
}

.loginForm>input {
	padding: 10px;
	margin-bottom: 1em;
}

.loginForm>button {
	margin-top: 1em;
}

.toggleImportance {
	min-width: 40%;
	margin: 1em auto;
	padding: 0.5em;	
}

.note {
	box-sizing: content-box;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: rgb(0, 0, 0);
	background-color: rgba(205, 255, 232, 0.322);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.034), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
	border: rgba(129, 129, 129, 0.377) solid 1px;
	border-top-left-radius: 15%;
	border-bottom-right-radius: 15%;
	margin: 1em;
	padding: 1em;
	font-family: 'New Tegomin', serif;
	width: 25%;
	max-width: 50%;
	min-width: 220px;
	position: relative;
}

.note-content {
	width: 100%;
	padding: 1em;
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
}

.note-info{
	font-size: 1.1em;
	color: rgb(67, 126, 101);
	width: 100%;
	text-align: right;
}

#note-author {
	float:left;
	padding-left: 1em;
	color: rgb(4, 143, 108);
}

#note-date {
	padding-right: 1em;
} 

.notesList {
	padding-left: 0;
	text-align: center;
}

.filters {
	width: 83%;
	margin: 0 auto;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgba(255, 255, 255, 0.164);;
}

.filter-button, .filters>input {
	margin: 0 1em;
	padding: 0.7em;
	border: none;
	min-width: 7em;
}

#clear-button {
	margin-left: 1em;
	background-color: rgba(255, 17, 17, 0.657);
}

#clear-button:hover {
	margin-left: 1em;
	background-color: rgb(104, 12, 12);
}

.filters>input {
	width: 20em;
	min-width: 15em;
	background-color: rgba(34, 148, 158, 0.555);
	color: white;
	font-size: 16px;
	font-weight: bold;
	outline: none;
}

.filters>input::placeholder {
	color:rgba(255, 255, 255, 0.712);
	font-weight:normal;
}

.filter-button {
	font-weight: bold;
	color: white;
	background-color: rgba(34, 158, 96, 0.445);
	outline: none;
	cursor: pointer;
}

.filter-button:hover {
	background-color: rgba(12, 56, 34, 0.37);
}

.logged-content {
	animation: fadeIn 2s;
	min-height: 3em;
	padding-bottom: 2em;
}

.toggle-content {
	text-align: center;
}

.button-toggle {
	padding: 1em;
	margin: 1em;
	outline: none;
	border:none;
	border-radius: 20%;
	font-size: 16px;
	color: white;
	font-weight: 550;
	cursor: pointer;
}

#buttonShow {
	background-color: rgb(34, 158, 96);
}

#buttonShow:hover {
	background-color: rgb(14, 93, 54);
}

#buttonHide {
	background-color: rgb(14, 93, 54);
}

#buttonHide:hover {
	background-color: rgb(34, 158, 96);
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
 }

 @media screen and (max-width: 750px) {
	#top-content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#top-content>span {
		position: initial;
		padding: 0;
		order: 1;
		margin-bottom: 1em;
	}

	.filters {
		flex-direction: column;
		height: 8em;
		width: auto;
	}

	.filters>button, .filters>input {
		margin: 0.3em auto;
	}

	.filters>input {
		width: auto;
	}

	#clear-button {
		margin-left: auto;
	}

	.newNoteForm {
		position: initial;
		padding: 0;
		order: 2;
	}
 }