* {
	box-sizing: border-box;
}

body {
	font-size: 1.3em;
	margin-left: 2em;
	margin-right: 2em;
	min-height: 100vh;
	background-image: linear-gradient(to bottom, #89e7f8dc, #9dffd1);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Roboto Slab', serif;
	position: relative;
}

h1.title {
	color: rgb(34, 158, 96);
	font-style: italic;
	font-size: 4em;
	text-align: center;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
	font-family: 'Acme', sans-serif;
	user-select: none;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes slideDown {
	from { height: 0; }
	to { height: 1; }
}

@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.7);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

@keyframes fadeOut {
    0% {
		opacity: 1;
    }
    100% {
		opacity: 0;
    }
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}